<a href="https://colab.research.google.com/github/Monica-Restrepo/Desafio2-ciencia-de-datos/blob/main/desafio2_data_science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ðŸ“Œ  **ExtracciÃ³n**

## 1. Cargar los datos

In [2]:
import pandas as pd
import numpy as np

In [3]:
url = 'https://raw.githubusercontent.com/alura-cursos/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json'
df = pd.read_json(url)

## 2. ExploraciÃ³n inicial

In [4]:
df.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

In [6]:
df.shape

(7267, 6)

# **ðŸ”§ TransformaciÃ³n**

## 3. Normalizar columnas anidadas

In [7]:
# Paso 1: Normalizar columnas anidadas
customer_df = pd.json_normalize(df['customer'])
phone_df = pd.json_normalize(df['phone'])
internet_df = pd.json_normalize(df['internet'])
account_df = pd.json_normalize(df['account'])

# Paso 2: Eliminar las columnas anidadas originales del DataFrame
df.drop(columns=['customer', 'phone', 'internet', 'account'], inplace=True)

# Paso 3: Concatenar el DataFrame original con los nuevos datos normalizados
df = pd.concat([df, customer_df, phone_df, internet_df, account_df], axis=1)

# Paso 4: Verificar los cambios
df.head()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

## 4. Ver nombres de las columnas

In [8]:
df.columns

Index(['customerID', 'Churn', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'Charges.Monthly',
       'Charges.Total'],
      dtype='object')

## 5. Renombrar las columnas y verificar cambios

In [9]:
df.rename(columns={
    'customerID': 'ID',
    'Churn':'cancelo',
    'gender': 'genero',
    'SeniorCitizen': 'mayor_de_65',
    'Partner': 'tiene_pareja',
    'Dependents': 'tiene_dependentes',
    'tenure': 'meses_de_contrato',
    'PhoneService': 'servicio_telefonico',
    'MultipleLines': 'lineas_multiples',
    'InternetService': 'servicio_internet',
    'OnlineSecurity': 'seguridad_en_linea',
    'OnlineBackup': 'Soporte_en_linea',
    'DeviceProtection': 'proteccion_dispositivos',
    'TechSupport': 'soporte_tecnico',
    'StreamingTV': 'servicio_tv',
    'StreamingMovies': 'servicio_peliculas',
    'PaperlessBilling': 'facturas_electronicas',
    'PaymentMethod': 'metodo_pago',
    'Contract': 'tipo_contrato',
    'Charges.Monthly': 'gastos_mensuales',
    'Charges.Total': 'gastos_totales'
}, inplace=True)

In [10]:
df.head()

,ID,cancelo,genero,mayor_de_65,tiene_pareja,tiene_dependentes,meses_de_contrato,servicio_telefonico,lineas_multiples,servicio_internet,...,Soporte_en_linea,proteccion_dispositivos,soporte_tecnico,servicio_tv,servicio_peliculas,tipo_contrato,facturas_electronicas,metodo_pago,gastos_mensuales,gastos_totales
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

## 6. Detectar valores ausentes

In [11]:
df.isnull().sum()

ID                         0
cancelo                    0
genero                     0
mayor_de_65                0
tiene_pareja               0
tiene_dependentes          0
meses_de_contrato          0
servicio_telefonico        0
lineas_multiples           0
servicio_internet          0
seguridad_en_linea         0
Soporte_en_linea           0
proteccion_dispositivos    0
soporte_tecnico            0
servicio_tv                0
servicio_peliculas         0
tipo_contrato              0
facturas_electronicas      0
metodo_pago                0
gastos_mensuales           0
gastos_totales             0
dtype: int64

## 7. Detectar Strings vacÃ­os

In [12]:
(df['cancelo'] == '').sum()

np.int64(224)

In [13]:
(df['gastos_totales'] == ' ').sum()

np.int64(11)

## 8.Reemplazar los strings vacÃ­os por NaN

In [14]:
df['cancelo'] = df['cancelo'].replace('', np.nan)
df['gastos_totales'] = df['gastos_totales'].replace(' ', np.nan)

In [15]:
(df['cancelo'] == '').sum()
(df['gastos_totales'] == ' ').sum()

np.int64(0)

In [17]:
df.isnull().sum()

ID                           0
cancelo                    224
genero                       0
mayor_de_65                  0
tiene_pareja                 0
tiene_dependentes            0
meses_de_contrato            0
servicio_telefonico          0
lineas_multiples             0
servicio_internet            0
seguridad_en_linea           0
Soporte_en_linea             0
proteccion_dispositivos      0
soporte_tecnico              0
servicio_tv                  0
servicio_peliculas           0
tipo_contrato                0
facturas_electronicas        0
metodo_pago                  0
gastos_mensuales             0
gastos_totales              11
dtype: int64

## 9.Eliminar las filas con NaN

In [18]:
df = df.dropna(subset=['cancelo', 'gastos_totales'])

In [19]:
df[['cancelo', 'gastos_totales']].isnull().sum()

cancelo           0
gastos_totales    0
dtype: int64

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       7032 non-null   object
 1   cancelo                  7032 non-null   object
 2   genero                   7032 non-null   object
 3   mayor_de_65              7032 non-null   int64
 4   tiene_pareja             7032 non-null   object
 5   tiene_dependentes        7032 non-null   object
 6   meses_de_contrato        7032 non-null   int64
 7   servicio_telefonico      7032 non-null   object
 8   lineas_multiples         7032 non-null   object
 9   servicio_internet        7032 non-null   object
 10  seguridad_en_linea       7032 non-null   object
 11  Soporte_en_linea         7032 non-null   object
 12  proteccion_dispositivos  7032 non-null   object
 13  soporte_tecnico          7032 non-null   object
 14  servicio_tv              7032 non-null   object
 15  servicio_peliculas       7032 non-null   object
 16  tipo_contrato            7032 non-null   object
 17  facturas_electronicas    7032 non-null   object
 18  metodo_pago              7032 non-null   object
 19  gastos_mensuales         7032 non-null   float64
 20  gastos_totales           7032 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [ ]:
# Paso 6: Asignar correctamente el tipo de cada variable

# Reemplazar espacios vacÃ­os por NaN
df['gastos_totales'] = df['gastos_totales'].replace(' ', np.nan)

# Convertir a float
df['gastos_totales'] = df['gastos_totales'].astype(np.float64)

In [ ]:
# Convertir a str
vars_a_str = ['ID', 'genero', 'servicio_internet', 'tipo_contrato', 'metodo_pago']

# Convertirlas a string
df[vars_a_str] = df[vars_a_str].astype(str)

In [ ]:
# Convertir a booleanos

# Primero tratar las categorias inconsistentes

df['cancelo'] = df['cancelo'].replace('', np.nan)

In [ ]:
# creo una variable que contiene todas las variables que van a ser transformadas en booleanos

columnas_bool = ['cancelo','mayor_de_65', 'tiene_pareja', 'tiene_dependentes', 'facturas_electronicas']
df[columnas_bool] = df[columnas_bool].replace({'Yes': True, 'No': False})
df[columnas_bool] = df[columnas_bool].astype(bool)

<ipython-input-49-93e10890805d>:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[columnas_bool] = df[columnas_bool].replace({'Yes': True, 'No': False})

In [ ]:
# TransformaciÃ³n de variables a categoricas

columnas_categoricas = ['lineas_multiples', 'seguridad_en_linea', 'Soporte_en_linea', 'proteccion_dispositivos', 'soporte_tecnico', 'servicio_tv', 'servicio_peliculas']
df[columnas_categoricas] = df[columnas_categoricas].astype('category')

In [ ]:
# Paso 7:
# Contar valores vacÃ­os como '' o solo espacios en cada columna
for col in df.columns:
    vacios = df[col].apply(lambda x: isinstance(x, str) and x.strip() == '').sum()
    if vacios > 0:
        print(f"Columna '{col}' tiene {vacios} valores vacÃ­os tipo '' o ' '")

In [ ]:
# Paso 8:
# Ver columnas con valores ausentes
df.isnull().sum()

ID                          0
cancelo                     0
genero                      0
mayor_de_65                 0
tiene_pareja                0
tiene_dependentes           0
meses_de_contrato           0
servicio_telefonico         0
lineas_multiples            0
servicio_internet           0
seguridad_en_linea          0
Soporte_en_linea            0
proteccion_dispositivos     0
soporte_tecnico             0
servicio_tv                 0
servicio_peliculas          0
tipo_contrato               0
facturas_electronicas       0
metodo_pago                 0
gastos_mensuales            0
gastos_totales             11
dtype: int64

In [ ]:
# Paso 9: Verificar el porcentaje de los valores nulos en la columna gastos_totales y cancelo, para decidir que hacer con ellos

# NÃºmero total de filas
total_filas = df.shape[0]

# NÃºmero de valores nulos en 'gastos_totales'
nulos = df['gastos_totales'].isnull().sum()

# Porcentaje de nulos
porcentaje = (nulos / total_filas) * 100

print(f"Hay {nulos} valores nulos en 'gastos_totales', lo que representa el {porcentaje:.2f}% del total de filas.")

nulos = df['cancelo'].isnull().sum()
porcentaje = (nulos / total_filas) * 100
print(f"Hay {nulos} valores nulos en 'cancelo', lo que representa el {porcentaje:.2f}% del total de filas.")

Hay 11 valores nulos en 'gastos_totales', lo que representa el 0.15% del total de filas.
Hay 0 valores nulos en 'cancelo', lo que representa el 0.00% del total de filas.

In [ ]:
# Paso 10:
# Ambas variables con valores nulos representan menos del 5% las vamos a eliminar

df = df[df['cancelo'].notnull()]
df = df[df['gastos_totales'].notnull()]

In [ ]:
df.isnull().sum()

ID                         0
cancelo                    0
genero                     0
mayor_de_65                0
tiene_pareja               0
tiene_dependentes          0
meses_de_contrato          0
servicio_telefonico        0
lineas_multiples           0
servicio_internet          0
seguridad_en_linea         0
Soporte_en_linea           0
proteccion_dispositivos    0
soporte_tecnico            0
servicio_tv                0
servicio_peliculas         0
tipo_contrato              0
facturas_electronicas      0
metodo_pago                0
gastos_mensuales           0
gastos_totales             0
dtype: int64

In [ ]:
# Paso 11:
# Ver si hay filas duplicadas
df.duplicated().sum()

np.int64(0)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7256 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       7256 non-null   object
 1   cancelo                  7256 non-null   bool
 2   genero                   7256 non-null   object
 3   mayor_de_65              7256 non-null   bool
 4   tiene_pareja             7256 non-null   bool
 5   tiene_dependentes        7256 non-null   bool
 6   meses_de_contrato        7256 non-null   int64
 7   servicio_telefonico      7256 non-null   object
 8   lineas_multiples         7256 non-null   category
 9   servicio_internet        7256 non-null   object
 10  seguridad_en_linea       7256 non-null   category
 11  Soporte_en_linea         7256 non-null   category
 12  proteccion_dispositivos  7256 non-null   category
 13  soporte_tecnico          7256 non-null   category
 14  servicio_tv              7256 non-null   category
 15  servicio_peliculas       7256 non-null   category
 16  tipo_contrato            7256 non-null   object
 17  facturas_electronicas    7256 non-null   bool
 18  metodo_pago              7256 non-null   object
 19  gastos_mensuales         7256 non-null   float64
 20  gastos_totales           7256 non-null   float64
dtypes: bool(5), category(7), float64(2), int64(1), object(6)
memory usage: 652.8+ KB

In [ ]:
df.head()

,ID,cancelo,genero,mayor_de_65,tiene_pareja,tiene_dependentes,meses_de_contrato,servicio_telefonico,lineas_multiples,servicio_internet,...,Soporte_en_linea,proteccion_dispositivos,soporte_tecnico,servicio_tv,servicio_peliculas,tipo_contrato,facturas_electronicas,metodo_pago,gastos_mensuales,gastos_totales
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.30
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.40
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.40

# **ðŸ“Š Carga y anÃ¡lisis**

# **ðŸ“„Informe final**